<form class="form-container">
  <div class="panel-left">
    <div class="form-control">
      <label for="amount">Amount</label>
      <input
        type="text"
        name="amount"
        id="amount"
        [(ngModel)]="amount"
        placeholder="0.00"
      />
    </div>
    <div>1.00 EUR = 9.99 USD</div>
  </div>
  <div class="panel-right">
    <div class="currency-selection-panel">
      <div class="form-control">
        <label for="currencyFrom">From</label>
        <app-dropdown
          name="currencyFrom"
          [options]="options"
          (selected)="onCurrencyFrom($event)"
        ></app-dropdown>
      </div>
      <img
        class="double-arrow"
        alt="CurrencyConverter"
        src="assets/images/double-arrow.svg "
      />
      <div class="form-control">
        <label for="currencyTo">To</label>
        <app-dropdown
          name="currencyTo"
          [options]="options"
          (selected)="onCurrencyTo($event)"
        ></app-dropdown>
      </div>
    </div>
    <app-button
      text="Convert"
      color="primary"
      (btnClick)="doConversion(amount)"
    ></app-button>
    <div class="details">
      <div class="convert-value">XX.XX USD</div>
      <app-button text="More Details" color="primary"></app-button>
    </div>
  </div>
</form>
